
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #fff; 
    background-color: #000; 
}



header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.pod-logo {
    width: 100px; 
    height: auto;
    margin-right: 10px;
}

.logo-text {
    font-size: 24px;
    font-weight: bold;
    color: #6c63ff; 
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase; 
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #6c63ff;
}

nav .login-btn {
    background-color: #6c63ff;
    color: #fff;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: bold;
}

nav .login-btn:hover {
    background-color: #5a51d3;
}


.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.hero-text {
    flex-basis: 50%;
    padding-right: 40px;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 700;
    color: #6c63ff;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero-image {
    flex-basis: 50%;
}


.hero-image img {
    margin-left: 250px;
    max-width: 60%; 
    height: auto; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}





.features {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.feature-item {
    text-align: center;
    padding: 20px;
    background-color:#0c0c0c ;
    border-radius: 8px;
    margin: 0 20px;
    flex-basis: 30%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.feature-item:hover {
    transform: translateY(-5px);
}

.feature-item h3 {
    font-size: 24px;
    font-weight: 700;
    color: #6c63ff;
    margin-bottom: 10px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.cookie-notice {
    background-color: #f5f5f5;
    color: #333;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.cookie-notice a {
    color: #6c63ff;
    text-decoration: none;
    margin: 0 10px;
}

.cookie-notice button {
    margin-left: 10px;
    padding: 6px
}